body {
    font-size: large;
    font-family: arial;
    color:teal;
    background-color: wheat;
    }

h1{
    color:dodgerblue;
}    

h3 {
    color:navy;
}

h4 {
    color:brown;
}
